/*header总体设置*/
header {
    margin: 0 auto;
    text-align: center;
}

/*header内部设置*/
/*2048标题大小设置*/
header h1 {
    font-family: Arial;
    font-size: 42px;
}
/*重新开始*/
header #newgamebutton {
    display: block;
    padding: 10px;
    margin: 20px auto;
    width: 100px;
    background-color: #8f7a66;
    font-family: Arial;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.grid-container {
    position: relative;
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #bbada0;
}

.grid-cell {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
}

.number-cell {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    font-size: 60px;
    font-family: Arial;
    line-height: 100px;
    text-align: center;
}
